In [8]:
# 인자 1개 -> 0부터 a까지 (excluded)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# 인자 2개 -> a부터 b까지 (excluded)
list(range(3, 8))

[3, 4, 5, 6, 7]

In [10]:
# 인자 3개 -> a부터 b까지 c스텝씩 띄어가며 (excluded)
list(range(-10, 10, 4))

[-10, -6, -2, 2, 6]

In [14]:
# "zip" for iterating over multiple sequences
people = ['Jonas', 'Julio', 'Mike', 'Mez']
ages = [25, 30, 31, 39]
for person, age in zip(people, ages):
    print(person, age)
    
    
people = ['Jonas', 'Julio', 'Mike', 'Mez']
ages = [25, 30, 31, 39]
nationalities = ['Belgium', 'Spain', 'England', 'Bangladesh']
for person, age, nationality in zip(people, ages, nationalities):
       print(person, age, nationality)
        
        
people = ['Jonas', 'Julio', 'Mike', 'Mez']
ages = [25, 30, 31, 39]
nationalities = ['Belgium', 'Spain', 'England', 'Bangladesh'] 
for data in zip(people, ages, nationalities):
    person, age, nationality = data
    print(person, age, nationality)

Jonas 25
Julio 30
Mike 31
Mez 39
Jonas 25 Belgium
Julio 30 Spain
Mike 31 England
Mez 39 Bangladesh
Jonas 25 Belgium
Julio 30 Spain
Mike 31 England
Mez 39 Bangladesh

In [17]:
n = 39 
remainders = [] 
while n > 0:
    remainder = n % 2  # remainder of division by 2
    remainders.append(remainder)  # we keep track of remainders
    n //= 2  # we divide n by 2
    
# reassign the list to its reversed copy and print it 
remainders = remainders[::-1]

# 결과적으로 아래는 n을 2진수로 표현한 것이 됨 
print(remainders)

[1, 0, 0, 1, 1, 1]

In [18]:
# 좀더 간결한 문법 

n = 39
remainders = []
while n > 0:
    n, remainder = divmod(n, 2)
    remainders.append(remainder)

# reassign the list to its reversed copy and print it
remainders = remainders[::-1]
print(remainders)

[1, 0, 0, 1, 1, 1]

In [21]:
from datetime import date, timedelta

today = date.today()
tomorrow = today + timedelta(days=1)  # today + 1 day is tomorrow
products = [
    {'sku': '1', 'expiration_date': today, 'price': 100.0}, {'sku': '2', 'expiration_date': tomorrow, 'price': 50}, {'sku': '3', 'expiration_date': today, 'price': 20},
]

for product in products:
    if product['expiration_date'] != today:
        continue
    product['price'] *= 0.8  # equivalent to applying 20% discount
    print(
        'Price for sku', product['sku'],
        'is now', product['price'])

Price for sku 1 is now 80.0
Price for sku 3 is now 16.0

In [22]:
from itertools import count
for n in count(5, 3):
    if n > 20:
        break
    print(n, end=', ')

5, 8, 11, 14, 17, 20,